<p id="notice"><%= notice %></p>

<p>
  <strong>Application:</strong>
  <%= @application_test.application_id %>
</p>

<p>
  <strong>Test:</strong>
  <%= @application_test.test_id %>
</p>

<p>
  <strong>Test value:</strong>
  <%= @application_test.test_value_id %>
</p>

<p>
  <strong>Test status:</strong>
  <%= @application_test.test_status_id %>
</p>

<%= link_to 'Edit', edit_application_test_path(@application_test) %> |
<%= link_to 'Back', application_tests_path %>
